.pro_ads_img{
    position: relative;
    max-width: 100%;
    text-align: center;
        }
.pro_ads_img img{
    filter:blur(0.9px);
    width: 100%;
}
.pro_ads_img::before{
    content: "This option available in Pro Version only";
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 1;
    font-size: 20px;
    max-width: 80%;
    font-weight: bold;
}
/*Add branding icon for each addons*/
.elementor-element .icon {
  position: relative;
}
.elementor-element .icon .bl_icon::after {
    content: "MP";
    font-size: 11px;
    position: absolute;
    right: 5px;
    top: 5px;
    background: #4527A4;
    color: #fff;
    padding: 2px 5px 3px 5px;
    border-radius: 3px;
    font-family: monospace;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
}
.art-video-player {
    max-width:100%!important;
    height:600px!important;
}
.elementor-element  .classic-audio-playlist {
    display: inline-block;
}

.elementor-element  .classic-audio-playlist::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNTExLjk5MyA1MTEuOTkzIiB4bWw6c3BhY2U9InByZXNlcnZlIiBmaWxsPSIjMDAwMDAwIj48ZyBpZD0iU1ZHUmVwb19iZ0NhcnJpZXIiIHN0cm9rZS13aWR0aD0iMCI+PC9nPjxnIGlkPSJTVkdSZXBvX3RyYWNlckNhcnJpZXIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9nPjxnIGlkPSJTVkdSZXBvX2ljb25DYXJyaWVyIj4gPHBhdGggc3R5bGU9ImZpbGw6I0VDNTU2NDsiIGQ9Ik00OTAuNjMyLDM4OC40NzdMNDc5Ljk5MSwyNi4zNjJjLTAuMTcyLTUuNzY2LTQuOTA2LTEwLjM1OS0xMC42NzItMTAuMzU5SDQyLjY3MyBjLTUuNzgxLDAtMTAuNSw0LjU5NC0xMC42NzIsMTAuMzU5TDIxLjMzLDM4OS4wMjRjLTAuMDc4LDIuODc1LDEuMDE2LDUuNjcyLDMuMDE2LDcuNzM0YzIuMDE2LDIuMDc4LDQuNzY2LDMuMjM0LDcuNjU2LDMuMjM0IGg0NDcuOTljMCwwLDAsMCwwLjAxNiwwYzUuODkxLDAsMTAuNjU2LTQuNzY2LDEwLjY1Ni0xMC42NTZDNDkwLjY2MywzODkuMDQsNDkwLjY2MywzODguNzU5LDQ5MC42MzIsMzg4LjQ3N3oiPjwvcGF0aD4gPHBhdGggc3R5bGU9ImZpbGw6I0ZGQ0U1NDsiIGQ9Ik00NzkuOTkxLDQ4LjAwMkgzMi4wMDFjLTIuODI4LDAtNS41NDYsMS4xMjUtNy41NDYsMy4xMjVzLTMuMTI1LDQuNzE5LTMuMTI1LDcuNTQ3djM2Mi42NjMgYzAsNS44OTEsNC43ODEsMTAuNjU2LDEwLjY3MSwxMC42NTZoNDQ3Ljk5YzUuODkxLDAsMTAuNjcyLTQuNzY2LDEwLjY3Mi0xMC42NTZWNTguNjc0IEM0OTAuNjYzLDUyLjc4Myw0ODUuODgyLDQ4LjAwMiw0NzkuOTkxLDQ4LjAwMnoiPjwvcGF0aD4gPHBhdGggc3R5bGU9ImZpbGw6IzQ4Q0ZBRDsiIGQ9Ik00OTguMzA0LDgzLjI1MWMtMi0yLjA3OC00Ljc2Ni0zLjI1LTcuNjQxLTMuMjVIMjEuMzNjLTIuODc1LDAtNS42NDEsMS4xNzItNy42NTYsMy4yNSBjLTIsMi4wNjItMy4wOTQsNC44NTktMyw3LjczNEwyMS4zMyw0NTMuNjQ4YzAuMTcyLDUuNzY2LDQuOTA2LDEwLjM0MywxMC42NzEsMTAuMzQzaDQ0Ny45OWM1Ljc2NiwwLDEwLjQ4NC00LjU3NywxMC42NTYtMTAuMzQzIGwxMC42NzItMzYyLjY2M0M1MDEuMzk3LDg4LjExLDUwMC4zMTksODUuMzEzLDQ5OC4zMDQsODMuMjUxeiI+PC9wYXRoPiA8cGF0aCBzdHlsZT0iZmlsbDojQUM5MkVCOyIgZD0iTTUwOS4wODQsMTE1LjM2Yy0yLjAxNi0yLjE0MS00LjgyOC0zLjM1OS03Ljc2NS0zLjM1OUgxMC42NzRjLTIuOTM3LDAtNS43NSwxLjIxOS03Ljc2NSwzLjM1OSBzLTMuMDYyLDUuMDE2LTIuODkxLDcuOTM3TDIxLjM0Niw0ODUuOTZjMC4zNDQsNS42NDEsNSwxMC4wMzEsMTAuNjU2LDEwLjAzMWg0NDcuOTljNS42NDEsMCwxMC4zMTItNC4zOTEsMTAuNjQxLTEwLjAzMSBsMjEuMzQyLTM2Mi42NjNDNTEyLjE0NiwxMjAuMzc1LDUxMS4xLDExNy41LDUwOS4wODQsMTE1LjM2eiI+PC9wYXRoPiA8cGF0aCBzdHlsZT0iZmlsbDojOTY3QURDOyIgZD0iTTIuOTA5LDExNS4zNmMtMi4wMTYsMi4xNDEtMy4wNjIsNS4wMTYtMi44OTEsNy45MzdMMjEuMzQ2LDQ4NS45NiBjMC4zNDQsNS42NDEsNSwxMC4wMzEsMTAuNjU2LDEwLjAzMWg2My45ODNsMC42MDktMC42MjVMNzQuMDc5LDExMi42NDFMNzMuNTk1LDExMmgtNjIuOTJDNy43MzcsMTEyLDQuOTI0LDExMy4yMTksMi45MDksMTE1LjM2eiI+PC9wYXRoPiA8cmVjdCB4PSIyNTUuOTk2IiB5PSIyMzQuOTE3IiBzdHlsZT0iZmlsbDojQ0NEMUQ5OyIgd2lkdGg9IjIxLjMyOCIgaGVpZ2h0PSIxNTQuNDIiPjwvcmVjdD4gPGc+IDxwYXRoIHN0eWxlPSJmaWxsOiNFNkU5RUQ7IiBkPSJNMzU2Ljc2LDI0MS4xMzhsLTg1LjMyNi00Mi42N2MtMy4zMTItMS42NTYtNy4yMzMtMS40NjktMTAuMzc0LDAuNDY5IGMtMy4xNTYsMS45MzctNS4wNjMsNS4zNzUtNS4wNjMsOS4wNjJ2ODUuMzQyYzAsMy42ODgsMS45MDcsNy4xMjUsNS4wNjMsOS4wNzhjMS43MDMsMS4wNDcsMy42NTYsMS41NzgsNS42MDgsMS41NzggYzEuNjI1LDAsMy4yNS0wLjM1OSw0Ljc2Ni0xLjEyNWw4NS4zMjYtNDIuNjU1YzMuNjA5LTEuODEyLDUuOTA2LTUuNSw1LjkwNi05LjU0N0MzNjIuNjY2LDI0Ni42MzgsMzYwLjM2OSwyNDIuOTM1LDM1Ni43NiwyNDEuMTM4IHoiPjwvcGF0aD4gPHBhdGggc3R5bGU9ImZpbGw6I0U2RTlFRDsiIGQ9Ik0yMzQuNjY4LDM0Ni42NjdjLTIzLjUzMSwwLTQyLjY3MSwxOS4xNC00Mi42NzEsNDIuNjdjMCwyMy41MzEsMTkuMTQsNDIuNjU2LDQyLjY3MSw0Mi42NTYgYzIzLjUxNiwwLDQyLjY1Ni0xOS4xMjUsNDIuNjU2LTQyLjY1NkMyNzcuMzI0LDM2NS44MDcsMjU4LjE4NCwzNDYuNjY3LDIzNC42NjgsMzQ2LjY2N3oiPjwvcGF0aD4gPC9nPiA8L2c+PC9zdmc+');
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-element  .classic-video-playlist {
    display: inline-block;
}

.elementor-element  .classic-video-playlist::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20490%20490%22%20xml%3Aspace%3D%22preserve%22%20fill%3D%22%23000000%22%3E%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fg%3E%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%3Cg%3E%3Cg%20id%3D%22XMLID_30_%22%3E%3Cg%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M480%2C100v360H10V100H480z%20M430%2C330V145H60v185H430z%22%3E%3C%2Fpath%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%22280%2C235%20210%2C270%20210%2C200%20%22%3E%3C%2Fpolygon%3E%3Cpath%20style%3D%22fill%3A%23F4661E%3B%22%20d%3D%22M430%2C145v185H60V145H430z%20M210%2C270l70-35l-70-35V270z%22%3E%3C%2Fpath%3E%3Crect%20x%3D%2210%22%20y%3D%2230%22%20style%3D%22fill%3A%23FFD248%3B%22%20width%3D%22470%22%20height%3D%2270%22%3E%3C%2Frect%3E%3C%2Fg%3E%3Cg%3E%3Cpath%20d%3D%22M480%2C20H10C4.477%2C20%2C0%2C24.478%2C0%2C30v430c0%2C5.522%2C4.477%2C10%2C10%2C10h470c5.522%2C0%2C10-4.478%2C10-10V30%20C490%2C24.478%2C485.522%2C20%2C480%2C20z%20M470%2C40v50H20V40H470z%20M20%2C450V110h450v340H20z%22%3E%3C%2Fpath%3E%3Crect%20x%3D%2235%22%20y%3D%2255%22%20width%3D%2220%22%20height%3D%2220%22%3E%3C%2Frect%3E%3Crect%20x%3D%2275%22%20y%3D%2255%22%20width%3D%2220%22%20height%3D%2220%22%3E%3C%2Frect%3E%3Crect%20x%3D%22115%22%20y%3D%2255%22%20width%3D%2220%22%20height%3D%2220%22%3E%3C%2Frect%3E%3Cpath%20d%3D%22M430%2C135H60c-5.522%2C0-10%2C4.477-10%2C10v185c0%2C5.522%2C4.478%2C10%2C10%2C10h370c5.522%2C0%2C10-4.478%2C10-10V145%20C440%2C139.477%2C435.522%2C135%2C430%2C135z%20M420%2C320H70V155h350V320z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M204.743%2C278.507c1.605%2C0.992%2C3.429%2C1.493%2C5.257%2C1.493c1.528%2C0%2C3.061-0.351%2C4.472-1.056l70-35%20C287.86%2C242.25%2C290%2C238.788%2C290%2C235s-2.14-7.25-5.528-8.944l-70-35c-3.099-1.55-6.78-1.385-9.729%2C0.438%20c-2.948%2C1.821-4.743%2C5.04-4.743%2C8.506v70C200%2C273.466%2C201.795%2C276.685%2C204.743%2C278.507z%20M220%2C216.181L257.64%2C235L220%2C253.819%20V216.181z%22%3E%3C%2Fpath%3E%3Cpolygon%20points%3D%22170%2C370%20150%2C370%20150%2C385%2050%2C385%2050%2C405%20150%2C405%20150%2C420%20170%2C420%20170%2C405%20440%2C405%20440%2C385%20170%2C385%20%22%3E%3C%2Fpolygon%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Add lock styles + badge */
.locked-widget {
    position: relative;
    opacity: 0.6;
    cursor: not-allowed;
}

.pro-badge {
    background: #9c27b0;
    color: #fff;
    font-size: 10px;
    padding: 2px 6px;
    font-weight: bold;
    border-radius: 3px;
    margin-left: 5px;
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* assets/modal.css */
.elementor-modal-pro {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 999999;
}
.elementor-modal-pro.elementor-modal-open { display: block; }
.elementor-modal__overlay { background: rgba(0,0,0,.6); position: absolute; inset: 0; }
.elementor-modal__content { background:#000; margin:5% auto; max-width:500px;  box-shadow:0 10px 30px rgba(243, 243, 243, 0.2); position:relative; }
.elementor-modal__header { padding:20px; border-bottom:1px solid #e5e5e5; display:flex; justify-content:space-between; align-items:center; }
.elementor-modal__header h3 { margin:0; font-size:18px; color: #93003f;}
.elementor-modal__close { background:none; border:none; font-size:24px; cursor:pointer; }
.elementor-modal__body { padding:30px; text-align:left; }
.elementor-modal__footer { padding:0 30px 30px; text-align:left; }
.elementor-modal__footer .elementor-button-success { background-color: #93003f; border-color: #93003f; color: #fff; }